.modal__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(107, 114, 128, 0.5);
}

.modal {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 15px;
  padding: 0;
  background: #fff;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 15px;
  overflow: hidden;
}

.modal__header {
  font-size: 16px;
  font-weight: bold;
}

.modal__footer {
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
  background-color: rgb(243, 244, 246);
  padding: 10px;
}

.modal__inner {
  padding: 20px;
}

.button__close {
  background-color: #b92e2e;
}